.control-btns-con {
  .delete-btn {
    transition: all 0.3s ease-in-out;
    background-color: #dc3545;
    color: white;
    border: none;
  }

  .delete-btn:hover {
    background-color: transparent;
    color: #dc3545;
  }

  .update-btn {
    background-color: #ffc107;
    transition: all 0.3s ease-in-out;
    color: white;
    border: none;
  }

  .update-btn:hover {
    background-color: transparent;
    color: #ffc107;
  }
}
